{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Roblox Starwars PFP
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <H1>
                Roblox starwars avatar generator
            </H1>
            <p>Generate a starwars profile picture by supplying a Roblox username, that's all.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <section class=flashes>
                {% for category, message in messages %}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span>{{ message }}</span>
                </div>
                {% endfor %}
            </section>
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    {% if image %}
    <div class="row" style="margin-top:1em;">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <img src="{{ image }}"/>
        </div>
    </div>
    {% endif %}

    <div class="row" style="margin-top:1em;">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <a href="https://gitlab.com/brinkervii/starwars-pfp" target="_blank">Source on GitLab</a>
        </div>
    </div>
</div>
{% endblock %}